@font-face {
  font-family: 'neue-haas-grotesk-display-bold';
  src: url('../font/NeueHaasDisplayBold.ttf');
}
body {
  --main-bg-color: #fff;
  --main-text-color: #000;
  --header-bg-color: #c60800;
  --flag--stamp--shift: 0.125rem;
}
.header__principale {

}
.header__principale .header__container {
  background-color: var(--header-bg-color);
  padding: 1.0rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: 600;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0 1rem;
}
.navbar-dark .navbar-nav .nav-item:first-child .nav-link {
  border-left: none;
}
.navbar-dark .navbar-nav .nav-item:last-child .nav-link {
  border-right: none;
}
.navbar-dark .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}
img.img__logo {
 display: block;
}
.promo__link {
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}
.promo__link:hover {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}
.main__titolo-principale {
  font-family: 'neue-haas-grotesk-display-bold', sans-serif;
  font-weight: 700;
  font-weight: 4.4rem;
  font-size: font-size: xxx-large;
  text-transform: uppercase;
  color: #c60800;
}
div.flag {
  color: var(--main-bg-color);
  background-color: var(--header-bg-color);
  margin: auto;
  font-weight: 700;
  width: fit-content;
  padding: 0.1em 0.5em;
  transform: skew(-10deg) translateX(var(--flag--stamp--shift));
}
@media screen and (max-width: 575px) {
  .main__titolo-principale {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 991px) {
  .promo__link {
    font-size: smaller;
  }
}
@media screen and (max-width: 767px) {
  .navbar-light .navbar-nav .nav-link {
    display: block;
    color: var(--main-text-color);
    margin: 0.1rem 0;
    padding: 0.3rem 0.2rem;
    border-left: none;
    border-right: none;
    border-bottom:  1px solid #aaa;
  }
}
@media (min-width: 1200px) {
  .container{
    max-width: 1104px;
  }
}
