@font-face {
  font-family: 'neue-haas-grotesk-display-bold';
  src: url('../font/NeueHaasDisplayBold.ttf');
}
html {
  container-type: scroll-state;
}

header {
  position: fixed;
  z-index: 5;
  inset: 0 0 auto;
  transition: translate 0.25s;

  translate: 0 0;

  @container scroll-state(scrolled: bottom) {
    translate: 0 -100%;
  }
}
.container__principale {
  padding-top: 8rem;
}
body {
  --main-bg-color: #fff;
  --main-text-color: #555;
  --header-bg-color: #c60800;
  --border-color-gray: #ccc;
  --border-color-darkgray: #585858;
  --flag--stamp--shift: 0.125rem;
}
a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a.link-red {
  color: var(--header-bg-color) !important;
}
a.link-red:hover {
  color: var(--main-bg-color) !important;
  background-color: var(--header-bg-color) !important;
}
h2, h3 {
  font-family: 'neue-haas-grotesk-display-bold', sans-serif;
}
.header__principale {

}
.header__principale .header__container {
  background-color: var(--header-bg-color);
  padding: 1.0rem;
}
.header__container-left .navbar {
  width: fit-content;
  justify-content: left;
  padding: 0;
}
.header__container-left .navbar ul.navbar-nav a {
  border-left: none;
  border-right: none;
  margin: 0.4rem 0;
}
.header__container-left .navbar .container-fluid {
  padding: 0;
}
.header__container-left {
  display: flex;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}
.header__container-left .navbar-brand {
  margin-left: 0;
}
.header__container-left .mx-auto a.icona  {
  color: var(--main-bg-color);
  font-size: xx-large;
  margin: 0 0.5rem;
}
.header__container-left .mx-auto a.icona:nth-child(2) {
  margin-left: 1rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: 600;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0 1rem;
}
.navbar-dark .navbar-nav .nav-item:first-child .nav-link {
  border-left: none;
}
.navbar-dark .navbar-nav .nav-item:last-child .nav-link {
  border-right: none;
}
.navbar-dark .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}img.img__logo, img.img__notizia-big, img.img__notizia-small {
   display: block;
 }
img.img__logo {
   min-width: 280px;
}
.navbar-light ul li a:hover {
  color: var(--main-bg-color) !important;
  background-color: var(--main-text-color);
}
.promo__link {
  display: block;
  font-weight: 600;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}
.promo__link:hover {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}
a.promo__link .bi-caret-right {
  color: var(--header-bg-color);
  transition-property: margin-left;
  transition-duration: 0.5s;
  margin-left: 0;
}
a.promo__link:hover .bi-caret-right {
  color: var(--main-bg-color);
  margin-left: 0.3rem;
}
.main__titolo-principale {
  font-family: 'neue-haas-grotesk-display-bold', sans-serif;
  font-weight: 700;
  font-size: xxx-large;
  text-transform: uppercase;
  color: #c60800;
}
h3.main__titolo-principale {
  line-height: 0.9;
}
.main__titolo-principale a {
  font-size: xx-large;
  text-transform: none;
  color: var(--main-text-color);
}
.main__titolo-principale a:hover {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  text-decoration: none;
}
p.sottotitolo__notizia-link a {
  text-transform: none;
  color: var(--main-text-color);
}
p.sottotitolo__notizia-link a:hover {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  text-decoration: none;
}
h3.notizia__correlata a {
  font-size: medium;
  text-transform: none;
  color: var(--main-text-color);
}
h3.notizia__correlata a:hover {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  text-decoration: none;
}
.flag {
  display: block;
  color: var(--main-bg-color);
  background-color: var(--header-bg-color);
  border: 1px solid transparent;
  margin: 1rem auto;
  font-weight: 700;
  width: fit-content;
  padding: 0.1rem 0.5rem;
  transform: skew(-10deg) translateX(var(--flag--stamp--shift));
}
.bi-caret-right {
  color: var(--header-bg-color);
}
section.notizie-evidenza-secondo-piano {
  border-top: 1px solid var(--border-color-gray);
  border-bottom: 1px solid var(--border-color-gray);
  padding: 1.5rem 0;
}
section.notizie-evidenza-secondo-piano>div div.col-12:first-child, section.notizie-evidenza-secondo-piano>div div.col-12:nth-child(2) {
  border-right: 1px solid var(--border-color-darkgray);
}
section.notizie-evidenza-secondo-piano article a {
  display: block;
  text-transform: none;
  color: var(--main-text-color);
}
section.notizie-evidenza-secondo-piano article a:hover {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  text-decoration: none;
}
section.notizie-evidenza-secondo-piano a h3 {
  margin-top: 1em;
  font-size: large;
}
section.notizie-evidenza-secondo-piano.sezione-holliwood {
  background-color: #312104;
  padding: 1rem;
  border-radius: 16px;
}
section.notizie-evidenza-secondo-piano.sezione-holliwood article a {
  display: block;
  text-transform: none;
  color: var(--main-bg-color);
}
section.notizie-evidenza-secondo-piano.sezione-holliwood article a:hover {
  background-color: var(--main-bg-color);
  color: #312104;
  text-decoration: none;
}
a.article__link-titolo-big {
  font-weight: 700;
  display: block;
  font-size: xx-large;
  text-transform: none;
  color: var(--main-text-color);
}

a.article__link-titolo-big:hover {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  text-decoration: none;
}
a.article__link-titolo-big p {
  margin-top: 1rem;
  font-size: medium;
  font-weight: 400;
  color: var(--main-text-color);
}
a.article__link-titolo-big:hover p {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  text-decoration: none;
}
a .article__link-titolo-red {
  color: var(--header-bg-color);
  text-decoration: underline;
}
a:hover .article__link-titolo-red {
  color: #FF6661;
  text-decoration: none;
}
a.article__link-titolo-medium {
  color: var(--main-text-color);
}
a.article__link-titolo-medium:hover h3 {
  display: block;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  text-decoration: none;
}
a.article__link-titolo-medium h3 {
  margin-top: 1em;
  font-weight: 700;
  display: block;
  font-size: medium;
  text-transform: none;
  color: var(--main-text-color);
}
section.notizie-evidenza-terzo-piano .col-sm-4 .col-12:first-child article {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color-darkgray);
}
section.notizie-evidenza-terzo-piano .col-sm-4 .col-12:nth-child(2) article {
  padding-top: 1rem;
}
section.notizie-evidenza-terzo-piano>div.row>div.col-sm-8 {
  border-right: 1px solid var(--border-color-darkgray);
}
.flag-vuota, .flag-podcast {
  display: block;
  background-color: var(--main-bg-color);
  color: var(--header-bg-color);
  border: 2px solid var(--main-text-color);
  margin: 1rem auto;
  text-transform: uppercase;
  width: fit-content;
  padding: 0.5rem 1rem;
  transform: skew(-10deg) translateX(var(--flag--stamp--shift));
  box-shadow: -1px 1px 0 var(--main-text-color), -2px 2px 0 var(--main-text-color), -3px 3px 0 var(--main-text-color), -4px 4px 0 var(--main-text-color), -5px 5px 0 var(--main-text-color), -6px 6px 0 var(--main-text-color);
}
.flag-vuota:hover {
  color: var(--main-bg-color);
  background-color: var(--header-bg-color);
  border: 2px solid var(--header-bg-color);
}
.sezione__opinioni-striscia .flag-vuota {
  font-weight: 700;
  font-size: x-large;
}
.sezione__sport-striscia .flag-sport {
  font-weight: 700;
  font-size: x-large;
  display: block;
  background-color: #ffd62b;
  color: var(--main-text-color);
  border: 2px solid var(--main-text-color);
  margin: 1rem auto;
  text-transform: uppercase;
  width: fit-content;
  padding: 0.5rem 1rem;
  transform: skew(-10deg) translateX(var(--flag--stamp--shift));
  box-shadow: -1px 1px 0 var(--main-text-color), -2px 2px 0 var(--main-text-color), -3px 3px 0 var(--main-text-color), -4px 4px 0 var(--main-text-color), -5px 5px 0 var(--main-text-color), -6px 6px 0 var(--main-text-color);
}
.sezione__holliwood-striscia .flag-holliwood {
  font-weight: 700;
  font-size: x-large;
  display: block;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 2px solid var(--main-text-color);
  margin: 1rem auto;
  text-transform: uppercase;
  width: fit-content;
  padding: 0.5rem 1rem;
  transform: skew(-10deg) translateX(var(--flag--stamp--shift));
  box-shadow: -1px 1px 0 var(--main-text-color), -2px 2px 0 var(--main-text-color), -3px 3px 0 var(--main-text-color), -4px 4px 0 var(--main-text-color), -5px 5px 0 var(--main-text-color), -6px 6px 0 var(--main-text-color);
}
.sezione__sport-striscia .flag-sport figure, .sezione__holliwood-striscia .flag-holliwood figure {
  margin: 0;
}
.sezione__sport-striscia .flag-sport img.img-hover, .sezione__holliwood-striscia .flag-holliwood img.img-hover {
  display: none;
}
.sezione__sport-striscia .flag-sport:hover img.img-hover, .sezione__holliwood-striscia .flag-holliwood:hover img.img-hover {
  display: inline-block;
}
.sezione__sport-striscia .flag-sport:hover img.img-no-hover, .sezione__holliwood-striscia .flag-holliwood:hover img.img-no-hover {
  display: none;
}
.sezione__sport-striscia .flag-sport:hover {
  color: var(--main-bg-color);
  background-color: var(--header-bg-color);
  border: 2px solid var(--header-bg-color);
}
.sezione__holliwood-striscia .flag-holliwood:hover {
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
  border: 2px solid var(--main-text-color);
}
div.sezione__opinioni-striscia, div.sezione__sport-striscia, div.sezione__holliwood-striscia {
    position: relative;
    justify-content: space-between !important;
}
div.sezione__podcast-striscia {
  position: relative;
  justify-content: center !important;
}
div.sezione__opinioni-striscia:before, div.sezione__sport-striscia:before, div.sezione__podcast-striscia:before, div.sezione__holliwood-striscia:before {
  background: var(--main-text-color);
  content: "";
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  top: calc(50% - 6px);
  width: calc(100% - 1px);
  z-index: 0;
}
div.sezione__opinioni-striscia h2 a, div.sezione__sport-striscia h2 a, div.sezione__holliwood-striscia h2 a {
  display: inline-block;
}
div.sezione__opinioni-striscia p {
  display: flex;
  font-size: large;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  padding: 0 .625rem;
  margin-bottom: 12px;
  z-index: 1;
  background-color: var(--main-bg-color);
}
div.sezione__opinioni-striscia a.align-items-center, div.sezione__sport-striscia a.align-items-center, div.sezione__holliwood-striscia a.align-items-center {
  display: flex;
  font-size: medium;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 .625rem;
  margin-bottom: 12px;
  z-index: 2;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}
div.sezione__opinioni-striscia a.align-items-center:hover, div.sezione__sport-striscia a.align-items-center:hover, div.sezione__holliwood-striscia a.align-items-center:hover {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  margin: 20px 0 32px 0;
}
div.sezione__opinioni-striscia a.align-items-center:hover .bi-caret-right, div.sezione__sport-striscia a.align-items-center:hover .bi-caret-right, div.sezione__holliwood-striscia a.align-items-center:hover .bi-caret-right {
  color: var(--main-bg-color);
}
.flag-vuota-small {
  display: block;
  font-size: small;
  font-weight: 700;
  letter-spacing: 1.04px;
  background-color: var(--main-bg-color);
  color: var(--header-bg-color);
  border: 1px solid var(--header-bg-color);
  margin: 0 0 0.8rem 0;
  text-transform: uppercase;
  text-decoration: underline;
  width: fit-content;
  padding: 0.1rem 1rem;
  transform: skew(-10deg) translateX(var(--flag--stamp--shift));
}
section.notizie-evidenza-secondo-piano a:hover .flag-vuota-small {
  color: var(--main-bg-color);
  background-color: var(--header-bg-color);
  border: 1px solid var(--header-bg-color);
  text-decoration: none;
}
.no-border {
  display: block;
  font-size: small;
  font-weight: 700;
  letter-spacing: 1.04px;
  background-color: var(--main-bg-color);
  color: var(--header-bg-color);
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  text-decoration: underline;
  width: fit-content;
  padding: 0.1rem 1rem;
  transform: skew(-10deg) translateX(var(--flag--stamp--shift));
}
#argomenti-notizie h3 a {
  display: block;
  color: var(--header-bg-color);
  text-transform: uppercase;
  font-size: large;
  border-top: 2px solid var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
  padding: 0.2rem 0;
  margin: 0.5rem 0;
}
#argomenti-notizie h3 a:hover {
  background-color: var(--header-bg-color);
  color: var(--main-bg-color);
  text-decoration: none;
}
article h4 a {
  font-family: 'neue-haas-grotesk-display-bold', sans-serif;
  font-size: large;
  font-weight: 700;
  color: var(--main-text-color);
  display: block;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--border-color-gray);
}
article h4 a:hover {
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
  text-decoration: none;
}
section#argomenti-notizie h3 a span.bi-caret-right {
  color: var(--header-bg-color);
  background-color: var(--main-bg-color);
}
section#argomenti-notizie h3 a:hover .bi-caret-right {
  color: var(--main-bg-color);
  background-color: var(--header-bg-color);
}

/* Media Queries */
@media screen and (max-width: 575px) {
  .header__container-left .mx-auto a.icona  {
    color: var(--main-bg-color);
    font-size: x-large;
    margin: 0 0.3rem;
  }
  .header__container-left .mx-auto a.icona:nth-child(2) {
    margin-left: 0.6rem;
  }
  img.img__logo {
    display: block;
    min-width: 245px;
    max-width: 245px;
  }
  .main__titolo-principale {
    font-size: 2.5rem;
  }
  section.notizie-evidenza-terzo-piano .col-sm-4 .col-12:first-child article {
    padding-top: 1rem;
    border-top: 1px solid var(--border-color-darkgray);
  }

  section.notizie-evidenza-terzo-piano>div.row>div.col-sm-8 {
    border-right: none;
  }
  a.article__link-titolo-medium h3 {
    margin-top: 0;
  }

}
@media screen and (max-width: 767px) {

  .navbar-light .navbar-nav .nav-link {
    display: block;
    color: var(--main-text-color);
    margin: 0.1rem 0;
    padding: 0.3rem 0.2rem;
    border-left: none;
    border-right: none;
    border-bottom:  1px solid #aaa;
  }
  section.notizie-evidenza-secondo-piano>div div.col-12:first-child, section.notizie-evidenza-secondo-piano>div div.col-12:nth-child(2) {
    border-right: none;
    padding-bottom: 0.5rem;
  }
  section.notizie-evidenza-secondo-piano>div div.col-12:nth-child(2), section.notizie-evidenza-secondo-piano>div div.col-12:nth-child(3) {
    border-top: 1px solid var(--border-color-darkgray);
    padding-top: 1.5rem;
  }
  section.notizie-evidenza-secondo-piano a h3 {
    margin-top: 0;
    font-size: medium;
  }

  div.sezione__opinioni-striscia p {
    display: block;
  }
  div.sezione__opinioni-striscia, div.sezione__sport-striscia, div.sezione__holliwood-striscia {
    flex-direction: column !important;
    text-align: center;
  }
  div.sezione__opinioni-striscia h2 a, div.sezione__sport-striscia h2 a, div.sezione__holliwood-striscia h2 a {
    display: inline-block !important;
    margin: 1rem auto 0 auto;
  }
  div.sezione__opinioni-striscia a.align-items-center, div.sezione__sport-striscia a.align-items-center, div.sezione__holliwood-striscia a.align-items-center {
    display: none;
  }

  section#sezione-opinioni-fondo a.align-items-center, section#sezione-sport-fondo a.align-items-center, section#sezione-holliwood-fondo a.align-items-center {
    display: inline-block;
    margin: -0.7rem auto 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .promo__link {
    font-size: smaller;
  }
  span.navbar-brand {
    display:none;
  }
}
@media (min-width: 1200px) {
  .container{
    max-width: 1104px;
  }
}
@media screen and (min-width: 768px) {
  section#sezione-opinioni-fondo, section#sezione-sport-fondo, section#sezione-holliwood-fondo {
    display: none;
  }
}